{"openapi":"3.0.3","info":{"title":"TableRise - campaigns","contact":{"email":"tablerise@outlook.com","name":"tablerise"},"license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"},"version":"3.0.0"},"servers":[{"url":"https://api.tablerise.com/"}],"tags":[{"name":"recover"},{"name":"create"},{"name":"management"},{"name":"update"},{"name":"delete"}],"paths":{"/campaigns/{id}":{"get":{"tags":["recover"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"Get a campaign by its id."}},"/campaigns":{"get":{"tags":["recover"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"title","in":"query","required":false,"schema":{"type":"string"}},{"name":"code","in":"query","required":false,"schema":{"type":"string"}}],"description":"List campaigns, with optional filters by title or code."}},"/campaigns/{id}/characters":{"get":{"tags":["recover"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"List all characters currently linked to the campaign."}},"/campaigns/{id}/players":{"get":{"tags":["recover"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"List all players currently linked to the campaign."}},"/campaigns/{id}/characters-by-player":{"get":{"tags":["recover"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"List the authenticated player characters available in the campaign."}},"/campaigns/{id}/journal/posts":{"get":{"tags":["recover"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"List all journal posts for the campaign."}},"/campaigns/{id}/journal/highlight":{"get":{"tags":["recover"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"Get the highlighted journal post for the campaign."}},"/campaigns/create":{"post":{"tags":["create"],"responses":{"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"consumes":["multipart/form-data"],"description":"Create a new campaign and return the saved campaign data.","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"title":{"type":"string","example":"<JpPf+)!}I"},"description":{"type":"string","example":"&X,C;aI4/z"},"system":{"type":"string","example":"ej6Wx/c=!@"},"musics":{"type":"string","example":"zz^!v|mbU8"},"playerAmountLimit":{"type":"string","example":"}CApAhPZ,!"},"ageRestriction":{"type":"string","example":"JQ5YzW/}gr"},"configurations":{"type":"string","example":"9x<FkKRscy"},"mainHistory":{"type":"string","example":"d^!`La4v\"4"}}}}}}}},"/campaigns/{id}/journal/post":{"post":{"tags":["create"],"responses":{"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"Create a new journal post for the campaign.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","example":"X:v6!&Cba&"},"content":{"type":"string","example":"5WiQt3\\be;"},"category":{"type":"string","example":"!L'jL/8*9L"}}}}}}}},"/campaigns/{id}/logs":{"post":{"tags":["create"],"responses":{"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"Add a new entry to the campaign log.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"loggedAt":{"type":"string","example":"wN_{hL:]+f"},"content":{"type":"string","example":"fIG\\]Kv\".$"}}}}}}}},"/campaigns/{id}/buys":{"post":{"tags":["create"],"responses":{"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"Add a new buy entry to the campaign.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"s6Aj)BXs`A"},"cost":{"type":"string","example":"ib,4\\l9w@s"},"character":{"type":"string","example":"DULLz/\\5u8"},"user":{"type":"string","example":"{o4'i\\5AB>"},"date":{"type":"string","example":"#@s5]T&hz$"}}}}}}}},"/campaigns/{id}/invite":{"post":{"tags":["management"],"responses":{"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"Send a campaign invitation by email."}},"/campaigns/{id}/update/player/add":{"post":{"tags":["management"],"responses":{"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"password","in":"query","required":false,"schema":{"type":"string"}},{"name":"userToAdd","in":"query","required":false,"schema":{"type":"string"}}],"description":"Add a player to the campaign."}},"/campaigns/{id}/update/player/remove":{"post":{"tags":["management"],"responses":{"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"userToRemove","in":"query","required":false,"schema":{"type":"string"}}],"description":"Remove a player from the campaign."}},"/campaigns/{id}/update/match/player-presence":{"post":{"tags":["management"],"responses":{"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"cancel","in":"query","required":true,"schema":{"type":"boolean"}}],"description":"Confirm or cancel the authenticated player presence for the next match."}},"/campaigns/{id}/update":{"put":{"tags":["update"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"Update the main campaign information.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}},"/campaigns/{id}/update/journal":{"patch":{"tags":["update"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"query","required":true,"schema":{"type":"string"}}],"description":"Edit a campaign journal post. Available to the post author.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"postId":{"type":"string","example":"Nc=Sg4Sh[%"},"title":{"type":"string","example":"!eU{^L)6q2"},"post":{"type":"string","example":"@jaKI:W&Uf"},"category":{"type":"string","example":"[FR^?x3./d"}}}}}}}},"/campaigns/{id}/update/notes":{"patch":{"tags":["update"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"title","in":"query","required":true,"schema":{"type":"string"}}],"description":"Edit one of the authenticated player notes in the campaign by title.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"content":{"type":"string","example":"/.h%yGsU;N"}}}}}}}},"/campaigns/{id}/update/notes/remove":{"patch":{"tags":["update"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"title","in":"query","required":true,"schema":{"type":"string"}}],"description":"Remove one of the authenticated player notes in the campaign by title."}},"/campaigns/{id}/delete/journal":{"delete":{"tags":["delete"],"responses":{"204":{"description":"No content"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"query","required":true,"schema":{"type":"string"}},{"name":"postId","in":"query","required":true,"schema":{"type":"string"}}],"description":"Delete a campaign journal post. Available to the post author, an admin player, or the dungeon master."}},"/campaigns/{id}/update/journal/highlight":{"patch":{"tags":["update"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"Set or update the highlighted journal post. Available to the dungeon master or an admin player.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"toggle":{"type":"string","example":"aK4(6FknD0"}}}}}}}},"/campaigns/{id}/update/match/map-images/add":{"patch":{"tags":["update"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"consumes":["multipart/form-data"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"Add map images to the active match.","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{}}}}}}},"/campaigns/{id}/update/match/images":{"patch":{"tags":["update"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"consumes":["multipart/form-data"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"Add gallery images to the active match.","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{}}}}}}},"/campaigns/{id}/update/match/images/highlight":{"patch":{"tags":["update"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"imageId","in":"query","required":false,"schema":{"type":"string"}},{"name":"remove","in":"query","required":false,"schema":{"type":"boolean"}}],"description":"Highlight one gallery image for every player in the active match."}},"/campaigns/{id}/update/match/map-images/remove":{"patch":{"tags":["update"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"imageUrl","in":"query","required":true,"schema":{"type":"string"}}],"description":"Remove one map image from the active match."}},"/campaigns/{id}/update/infos/player-limit":{"patch":{"tags":["update"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"consumes":["multipart/form-data"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"newLimit","in":"query","required":true,"schema":{"type":"number"}}],"description":"Update the maximum number of players allowed in the campaign."}},"/campaigns/{id}/update/match/musics/add":{"patch":{"tags":["update"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"Add a music track to the active match.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","example":"D#DR07bK*2"},"title":{"type":"string","example":"f6PPS2cBUd"},"thumbnail":{"type":"string","example":"/8osTDIj#."}}}}}}}},"/campaigns/{id}/update/match/musics/remove":{"patch":{"tags":["update"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"Remove a music track from the active match.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","example":"T*Mmpj|\\Si"}}}}}}}},"/campaigns/{id}/update/match/musics/edit":{"patch":{"tags":["update"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"Edit one music track from the active match.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","example":"7TzrLgQpBj"},"title":{"type":"string","example":",HX:Vwc2D'"},"thumbnail":{"type":"string","example":"T|mSv7uF}R"}}}}}}}},"/campaigns/{id}/update/infos/match-dates/add":{"patch":{"tags":["update"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"date","in":"query","required":true,"schema":{"type":"string"}}],"description":"Set the next scheduled match date for the campaign."}},"/campaigns/{id}/update/infos/match-dates/remove":{"patch":{"tags":["update"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"Remove the next scheduled match date from the campaign."}},"/campaigns/{id}/update/player/dungeon-master":{"patch":{"tags":["management"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"userToMaster","in":"query","required":true,"schema":{"type":"string"}}],"description":"Transfer the dungeon master role to another player in the campaign."}},"/campaigns/{id}/update/player/confirm":{"patch":{"tags":["management"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"userToActivate","in":"query","required":true,"schema":{"type":"string"}}],"description":"Approve a pending player in the campaign. Available to the dungeon master or an admin player."}},"/campaigns/{id}/update/player/character/add":{"patch":{"tags":["management"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"characterId","in":"query","required":true,"schema":{"type":"string"}}],"description":"Assign a character to a player in the campaign."}},"/campaigns/{id}/update/player/character/remove":{"patch":{"tags":["management"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"characterId","in":"query","required":true,"schema":{"type":"string"}}],"description":"Remove a player character from the campaign."}},"/campaigns/{id}/update/cover/remove":{"patch":{"tags":["update"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"Remove the campaign cover image."}},"/campaigns/{id}/update/cover":{"patch":{"tags":["update"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"consumes":["multipart/form-data"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"Upload or replace the campaign cover image.","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"picture":{"type":"object","example":{}}}}}}}}},"/campaigns/{id}/update/match/character/picture":{"patch":{"tags":["update"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"consumes":["multipart/form-data"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"characterId","in":"query","required":true,"schema":{"type":"string"}}],"description":"Upload or replace a character token for the active match.","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"picture":{"type":"object","example":{}}}}}}}}},"/campaigns/{id}/close":{"patch":{"tags":["update"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"Close a campaign by updating its status to closed. This action is only available to the dungeon master."}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}