{"openapi":"3.0.3","info":{"title":"TableRise - characters","contact":{"email":"tablerise@outlook.com","name":"tablerise"},"license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"},"version":"3.0.0"},"servers":[{"url":"https://api.tablerise.com/"}],"tags":[{"name":"recover"},{"name":"create"},{"name":"management"}],"paths":{"/characters/by-campaign/{id}":{"get":{"tags":["recover"],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"Recover characters from campaign"}},"/characters/create":{"post":{"tags":["create"],"responses":{"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"description":"\nIn this route you can create a new character for an user,\nthis character won't be associated to any campaign or match,\nthis association must be done whit other routes available in this API\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","example":{"profile":{"name":"Harold","class":"warrior","race":"human","characteristics":{"alignment":"hero","backstory":"geek, educator, filmmaker","personalityTraits":"Fearless","ideals":"Be a hero","bonds":"no bonds","flaws":"Egocentric","appearance":{"eyes":"blue","age":"25","weight":"85","height":"1.82","skin":"white","hair":"black"},"alliesAndOrgs":[{"orgName":"Haka","symbol":{"id":"9fdb9348-4e16-4cf2-a8aa-89480b68791f","title":"geez","link":"https://sudden-thermostat.name","uploadDate":"2025-06-18T15:32:25.914Z","thumbSizeUrl":"https://crazy-pursuit.info/","mediumSizeUrl":"https://blank-ticket.net/","deleteUrl":"https://ironclad-blackfish.org/","request":{"success":true,"status":200}},"content":"Illum terror autem deserunt ultio verbum viridis adstringo sodalitas condico. Certus amitto ubi vallum deporto absorbeo voluptatibus corroboro. Curriculum quam aedificium iure xiphias aspicio veritatis adulatio.\nSomnus velum absum pauper coaegresco. Subnecto eveniet calco terra caries volaticus soluta. Arceo conservo teres confido solus adfero voluptatibus alii damno torrens.\nCopiose amita denuo coerceo sponte vehemens civitas earum. Nisi decor quibusdam virgo adnuo tolero tersus sit textus. Aegrus patria usque doloribus eaque administratio vomica."}],"other":{"languages":["human","orc"],"proficiencies":"kniffe throwing","extraCharacteristics":"no characteristics"},"treasure":[""]}},"stats":{"proficiencyBonus":2,"inspiration":1,"initiative":1,"passiveWisdom":2,"speed":7.2,"armorClass":15,"hitPoints":{"points":50,"currentPoints":23,"tempPoints":5,"dicePoints":"2d10"},"spellCasting":{"class":"sorcerer","ability":"charism","saveDc":15,"attackBonus":12}},"attacks":[{"name":"Some attack","atkBonus":2,"damage":[{"type":"magic","bonus":5,"dice":"2d10"}]}],"equipments":[""],"features":[""]}},"npc":{"type":"boolean","example":false}}}}}}}},"/characters/{id}/picture":{"post":{"tags":["management"],"responses":{"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"422":{"description":"Unprocessable Entity"},"500":{"description":"Internal"}},"consumes":["multipart/form-data"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"description":"\nThis route can be used to upload a picture for your character, must be\nin one of these formats: [png, jpg, jpeg]\n","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"picture":{"type":"string","example":{"isBinary":true},"format":"binary"}}}}}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}