name: continuous-delivery-action
on: [pull_request]
jobs:
  backend:
    name: 'Testing Backend'
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: 'https://npm.pkg.github.com'
          scope: '@tablerise'

      - name: Checking Package.json
        run: npm run check-lib

      - name: Install dependencies
        run:  npm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GH_REGISTRY_PACKAGES }}

      - name: Checking lint
        run:  npm run lint

      - name: Checking prettier
        run:  npm run prettier

      - name: Up database container
        run: docker-compose up -d database-test

      - name: Run tests
        run:  npm run test:coverage

      - name: Run integration tests
        run:  npm run test:integration 

      - name: Monitor coverage
        uses: MishaKav/jest-coverage-comment@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          coverage-summary-path: ./coverage/coverage-summary.json
          title: TableRise Coverage Report
          summary-title: Pull Request Coverage Level
          remove-links-to-files: false
          remove-links-to-lines: true

      - name: Checking coverage level
        run: npm run check-cov

